/* Style for the input forms */
.input-label {
    display: block;
    font-weight: var(--fw-medium);
    font-size: var(--paragraph);
    line-height: 1.43;
    text-transform: uppercase;
    color: var(--input-label);
    margin-bottom: 6px;
}
input, select {
    width: 100%;
}
input[type=text], 
input[type=email], 
input[type=date],
input[type=number],
input[type=password],
select {
    height: 44px;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    font-family: "Poppins", serif;
    color: var(--river-bed);
    padding: 10px var(--space-small);
    background-color: var(--primary-color);
    font-weight: var(--fw-regular);
    font-size: var(--heading-h6);
    box-shadow: 0px 1px 2px 0px #1018280D;
    line-height: 1.5;
    appearance: none
}
.input-select {
    position: relative;
}
.input-select::after {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/select-dropdown-icon.svg');
    content: '';
}
input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus {
    border: 1px solid var(--button-bg);
    outline: none;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=date]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
select::placeholder {
    color: var(--table-search-placeholder);
}
.input-file-field {
    position: relative;
    border: 1px solid #CBC5FF;
    text-align: center;
    border-radius: 12px;
    background-color: #F3E8FF66;
    padding: var(--space-small) var(--space-medium);
}
.input-file-field .input-file{
    position: absolute;
    color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.input-file-field .input-file::file-selector-button{
    background-color: transparent;
    border: none;
    font-size: 0;
}
.file-upload-img p {
    font-weight: var(--fw-regular);
    font-size: var(--paragraph-small);
    line-height: 1.5;
}
.fileupload-link {
    font-weight: var(--fw-semibold);
    font-size: var(--paragraph-small);
    line-height: 1.25;
    color: var(--button-bg);
}
.file-types {
    font-weight: var(--fw-regular);
    font-size: var(--paragraph-small);
    line-height: 1.5;
}
input[type="date"] {
    position: relative;
    background: url("../images/date-icon.svg") no-repeat right 0 center; /* Custom icon */
    background-size: 44px;
    appearance: none; /* Removes default styling in all browsers */
    -webkit-appearance: none;
    text-transform: uppercase;
    -moz-appearance: textfield; /* Removes default icon in Firefox */
}
.date-picker-icon::after {
    position: absolute;
    display: block;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    opacity:0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@-moz-document url-prefix() {
    input[type="date"] {
        background: none;
    }
}
.field-profile {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url('https://secure.gravatar.com/avatar/4ea1f97b4ec1917cde7cb1712501d7e1?s=250&d=mm&r=g');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.field-profile::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 25px;
    height: 25px;
    background-image: url('../images/edit-icon.svg');
    content: '';
}
.field-profile img {
    object-fit: cover;
    border-radius: 50%;
}
.field-profile input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}

/* style for registration form alignment and spacing */
.registration-form-container {
    display: flex;
    background-color: var(--primary-color);
    padding: var(--space-medium);
    gap: var(--space-medium);
    max-width: 960px;
    border-radius: 20px;
}
.registration-form-container .form-column:first-child {
    flex-basis: 113px;
}
.registration-form-container .form-column:not(:first-child) {
    flex-basis: 256px;
}
.form-column {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}
.form-column .primary-btn {
    width: 50%;
}
.submit-btn-container {
    display: flex;
    justify-content: flex-end;
}

.error-mes {
    font-size: 10px;
    color: var(--error-mes);
}

@media only screen and (max-width: 768px) {
    .registration-form-container {
        flex-direction: column;
    }
}